# Ignore all IntelliJ/Android Studio project files…
.idea/
# …but keep the shareable ones:
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/   # optional
!.idea/.name                # optional (project display name)

# Also ignore these common IDE files
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/

.cxx
.DS_Store
.externalNativeBuild
.gradle
local.properties
/build
/captures